/*
 *
 * CAFNR INTL plugin styles
 *
 *
*/

.no-title, #newfacultydiv {
	display:none;
}
.delete_supplemental_link, .delete_collaborating {
	visibility:visible;
	cursor:pointer;
}
.hidden-on-init {
	display:none;
}
a.reload-page {
	cursor:pointer;
}

#infobar{
	background-color:#00ff99;
	width:100%;
}
.user-msg{
	font-weight:bold;
	color:red;
}
.greyed{
	color:#666666;
}
.required_greyed {
	background-color:#eaeaea;
	padding:1.5em;
	border: 1px solid #d6d6d6;
}
.save-msg{
	font-weight:bold;
	font-style:italic;
	padding:0px 8px;
	display:inline-block;
	margin-left:8px;
}
.save-msg p {
	margin-bottom:0 !important;
}

h4.edit-activity{
	color: red;
}

#cafnr_activity_upload {
	background-color: #eaeaea;
	margin: 2em 1em;
    padding: 1.5em;
	border: 1px solid #d6d6d6;
}

form#cafnr_activity_form #cafnr_activity_upload label{
	margin-top:0em;
}

#cafnr_upload_list h2{
	font-weight:700;
	font-size: 1em;
}
.gform_wrapper #cafnr_upload_list ul li {
	list-style: disc outside none;
	padding-left:1%;
	padding-bottom:1%;
}
.gform_wrapper #cafnr_upload_list ul {
	padding-left:2%;
}
.gform_wrapper select {
	font-size: 12px;
}
.gform_wrapper select optgroup{
	font-size: 12px;
	color: #222222;
}
.gform_wrapper select optgroup option{
	padding-left:1em;
}
.gform_wrapper .gfield_description {
    color: #777777;
}




#box-table-a{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	//margin: 45px;
	width: 75%;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td{
	background: #d0dafd;
	color: #339;
}


form#cafnr_activity_form .spinny{
    background-image: url('../im/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    height: 16px;
    padding-left: 3em;
    vertical-align: middle;
    width: 16px;
    padding-top: 8px;
}

form#cafnr_activity_form label{
	font-weight: normal;
	margin: 3em 0 5px;
}
form#cafnr_activity_form li {
	margin-bottom: 2em;
}
form#cafnr_activity_form li ul li{
	margin-bottom: 0.75em;
}

form#cafnr_activity_form  .gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label, 
form#cafnr_activity_form  .gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked + label{
	font-weight:bold;
}

form#cafnr_activity_form li ul li label{
	margin: 0px;
}

input#activity-submit{
	font-size: 1.5em; 
	margin-top: 0.5em;
}
.entry-content table#activity-search.mu-table{
	margin-bottom: 4em;
}
.mu-table thead, .mu-table th {
	background-color: #F1B82D;
}
.mu-table #nameactivity {
	font-size:1.5em;
	color:#000000;
	padding-left:8px;
}
.mu-table .add-activity-button{
	text-align:right;
	
}
.mu-table .add-activity-button a.button{
	cursor:pointer;
	color:rgba(0, 0, 0, 0.8);
}
.mu-table .add-activity-button a.button:hover{
	background:none;
	background-color:#222222;
	color:#f1b82d;
	border:1px solid #f1b82d;
	box-shadow:none;
	text-shadow:none;
}
.mu-table td.edit-activity-button a{
	float:right;
	cursor:pointer;
}.mu-table td.edit-activity-button {
	width:auto;
	float:right;
}
.mu-table .quick-view-info{
	border:none;
}
.mu-table .quick-view-info td {
	border-top: none;
	padding: 12px;
	border-bottom:1px solid #ededed;
}
.mu-table td.strong{
	font-weight:bold;
}
.mu-table tr.quick-view-tr{
	border:none;
}
.mu-table tr.quick-view-tr td{
	border:none;
	padding-left:2em;
	max-width:200px;
}

a#submit-activity-search{
	cursor:pointer;
}
input#add_activity_title,
input#subject_textbox,
input#country_lead,
input#cafnr_write_in_pi {
	min-width:350px;
}




.modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
				url('http://localhost/wordpress/wp-content/themes/CommonsRetheme/img/9.gif') 
				50% 50% 
				no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
	display: block;
}

.hidden{
	display: none;
}

#cafnr_activity_form .required, 
#cafnr_activity_form .gfield_required {
	color:#211f1f !important;
}
.margintop0{
	margin-top: 0px !important;
}